.markdown-body table {
  width: 100%;
  display: inline; 
}

.markdown-heading:focus {
    color: #02c98a;
    outline: none;
}

.sidebar-headings .sidebar-heading .sidebar-heading-anchor.active, .sidebar-headings .sidebar-heading .sidebar-heading-anchor:hover {
    color: #02c98a;
}

.markdown-body .markdown-heading:focus {
    color: #02c98a;
    outline: none;
}
